.login-container
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    margin-top: 60px;
}

.login-card
{
    background: #fff;
    width: 100%;
    max-width: 450px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to
    {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-header
{
    text-align: center;
    margin-bottom: 30px;
}

.login-header h2
{
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.login-header p
{
    color: #666;
    font-size: 16px;
}

.login-form .form-group
{
    margin-bottom: 20px;
}

.login-form label
{
    display: block;
    width: 90%;
    margin: 0 auto 8px;
    color: #444;
    font-weight: 500;
}

.login-form input
{
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

/* .login-form input
{
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
} */

login-form input:focus
{
    border-color: #11998e;
    outline: none;
    box-shadow: none;
}



.password-wrapper
{
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.password-wrapper input
{
    width: 100%;
    margin: 0;
}

.toggle-password
{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    display: flex;
    align-items: center;
}

.toggle-password:hover
{
    color: #11998e;
}

.forget-password-wrapper
{
    width: 90%;
    margin: 8px auto 0;
    text-align: right;
}

.forget-password
{
    color: #11998e;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px
}

.forget-password:hover
{
    text-decoration: underline;
}

.btn-login
{
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 14px;
    background: linear-gradient(90deg, #11998e, #38ef7d);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: none;
}

.btn-login:hover
{
    transform: translateY(-2px);
    box-shadow: none;
}

.login-footer
{
    margin-top: 30px;
    text-align: center;
}

.login-footer p
{
    color: #666;
    margin-bottom: 20px;
}

.login-footer p a
{
    color: #11998e;
    text-decoration: none;
    font-weight: 600;
}

.login-footer p a:hover
{
    text-decoration: underline;
}